Aceasta este componenta movie

<div class="movie" >

    <div class="movie_title">
        {{title}}}
    </div>

    <div class="movie_description">
        {{description}}
    </div>

    <div class="movie_launchDate">
        {{launchDate}}
    </div>


    <div class="movie_actors">

        <p>Actorii sunt :</p>

        <div class="actor" *ngFor = "let actor of actors">
            {{actor.id}}/{{actor.name}}/{{actor.dateOfBirth}}
        </div>

    </div>


</div>